/* Basic editor styles */
:root {
  --toolbar-color: rgb(141, 229, 229);
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror  h3,
.ProseMirror  h4,
.ProseMirror  h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

strong {
  font-family: var(--font-header)
}

.ProseMirror pre {
  background: #0D0D0D;
  color: #FFF;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0d0d0d, 0.1);
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid var(--footer-color);
  margin: 2rem 0;
}

.editor {
  background-color: var(--toolbar-color);
  width: 90vw;
  margin: 15px auto;
  border-radius: 10px;
  padding-top: .5rem;
  border: var(--footer-color) solid 3px;
}

.toolbar {
  background-color: var(--toolbar-color);
  border-radius: 10px;
  padding-bottom: .5rem;
}

.toolbar button {
  font-size: 1rem;
  background-color: white;
  border: var(--footer-color) 2px solid;
  padding: .25rem 1rem;
  margin: 3px 10px;
  border-radius: 3px;


}

.toolbar button:hover {
  background-color: #cecece;
}

.ProseMirror {
  background-color: white;
  min-height: 50vh;
  padding: 5px 1rem 5px 1rem;
  border-radius: 0 0 10px 10px;
}
